:if ([/user find name={{mikrotik_initialize.ansible_user}}] ="") do={ :log info "User {{mikrotik_initialize.ansible_user}} not found..."}
:if ([/user find name={{mikrotik_initialize.ansible_user}}] ="") do={/file print file=ansible_key.txt; :delay 2; /file set ansible_key.txt contents="{{mikrotik_initialize.ansible_user_key}}";}
:if ([/user find name={{mikrotik_initialize.ansible_user}}] ="") do={/user add name={{mikrotik_initialize.ansible_user}} group=full password="{{random_passwd.stdout}}"; :delay 2; /user ssh-keys import user={{mikrotik_initialize.ansible_user}} public-key-file=ansible_key.txt}
